    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/Navbar.css"/>
        <title>Document</title>
    </head>
    <body>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                JoGeek
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
           
            <div class="nav-links">
              <a href=<%= "/Dashboard/AddNewQuestion?user_id="+user_id%>>Add New Question</a>
              <a href=<%= "/Dashboard/ViewAllQuestions?user_id="+user_id%> >View All Questions</a>
              <a href=<%= "/Dashboard/ViewMyQuestions?user_id="+user_id%> >View All Questions</a>
              <a  href=<%= "/Dashboard/PlayQuiz?user_id="+user_id%> >Play Quiz</a>
              <a  href=<%= "/Dashboard/Scores?user_id="+user_id%>  >Others Scores</a>
            </div>
          </div>
    </body>
    </html>