<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <title>View All Questions</title>
    <style type="text/css">
        .button {
          display: block;
          width: 115px;
          height: 40px;
          background: #4e9caf;
          padding: 10px;
          text-align: center;
          border-radius: 5px;
          color: white;
          font-weight: bold;
          line-height: 25px;
        }
      </style>
  </head>
  <body>
    <%-include('Navbar',{user_id})%>
    <h1 style="margin-top: 1rem">View all questions</h1>
    <div
      style="
        padding-left: 3rem;
        padding-right: 3rem;
        overflow-y: scroll;
        height: 450px;
      "
    >
      

    <% for(var i=0; i<quizQuestionList.length; i++) { %>
        <div style="border: 1px solid black; padding: 2rem; margin-top: 1rem">
            <div style="position: relative">
                        <div>
                          <p>Question # : <%=i %></p>
                        </div>

                        <div style="position: absolute; right: 0">
                          <a class="button" href=<%="/quiz/RemoveQuestion?_id="+quizQuestionList[i].quizItem._id%>>Delete</a>
                        </div>

                      
                      <h4><%= quizQuestionList[i].quizItem.Question%></h4>
                      <div class="row">
                        <div class="col"><%=quizQuestionList[i].quizItem.Options[0]%></div>
                        <div class="col"><%=quizQuestionList[i].quizItem.Options[1]%></div>
                      </div>

                      <div class="row">
                        <div class="col"><%=quizQuestionList[i].quizItem.Options[2]%></div>
                        <div class="col"><%=quizQuestionList[i].quizItem.Options[3]%></div>
                    </div>

                      <div>Author : <%=quizQuestionList[i].authorName%></div> 

                  
                    </div>
        </div>
    <% } %>
    </div>
  </body>
</html>
